<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>PDF to DOCX Converter</title>
</head>
<body>
    <div id="FileUpload">
        <div class="wrapper">
            <form id="myForm" method="POST" enctype="multipart/form-data">
                <div class="upload">
                    <p>Drag files here or <span class="upload__button" id="uploadButton">Browse</span></p>
                    <input type="file" id="fileInput" name="pdf_file" style="display: none;">
                </div>
                <div id="fileList">
                    <!-- Files will be displayed here -->
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
