<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- === File Upload ===
Design a file upload element. Is it the loading screen and icon? A progress element? Are folders being uploaded by flying across the screen like Ghostbusters? ;)  
-->
  <div id="FileUpload">
    <div class="wrapper">
        <div class="upload">
            <p>Drag files here or <span class="upload__button" id="uploadButton">Browse</span></p>
            <input type="file" id="fileInput" multiple style="display: none;">
        </div>
        <div id="fileList">
            <!-- Files will be displayed here -->
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>